In [1]:
import pandas as pd
from pathlib import Path

# from dm import Country

In [2]:
dir_prj = Path.cwd().parent

dir_data = dir_prj/'data'

dir_raw = dir_data/'raw'
dir_int = dir_data/'interim'

gdb_raw = dir_raw/'raw.geodatabase'
gdb_int = dir_int/'interim.geodatabase'

In [11]:
nrml_pth = r"D:\projects\safegraph-data-utilities\data\raw\normalization_stats.parquet"

In [12]:
nrml_df = pd.read_parquet(nrml_pth)
nrml_df

,year,month,day,region,total_visits,total_devices_seen,total_home_visits,total_home_visitors
0,2020,7,1,ALL_STATES,49244626,15948187,22155114,13151034
1,2020,7,1,ak,65639,21950,26164,16785
2,2020,7,1,al,1278652,385820,549232,310923
3,2020,7,1,ar,662994,203241,293500,163348
4,2020,7,1,as,19,18,18,17
...,...,...,...,...,...,...,...,...
1762,2020,7,31,vt,57616,22868,28281,17195
1763,2020,7,31,wa,878952,314411,389626,250693
1764,2020,7,31,wi,922265,314755,401675,237224
1765,2020,7,31,wv,281836,100551,124946,74334
1766,2020,7,31,wy,91415,32769,33423,19931